
body {
    font-family: Arial;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}

h1 {
    color: darkblue;
}

a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}
